/*================== *\
        GERAL
\*===================*/
body{
    font-family: 'Roboto', sans-serif;
    background-color: rgba(237, 237, 199, 0.633);
}
main{
    position: relative;
    top: 100px;
}
footer{
    position: relative;
    top: 100px;
}

.container{
    padding: 70px 0;
}

.row{
    margin: 0;
}